
#input-container{
	position:fixed;
	bottom:1rem;
	width:6rem;	
	height:3rem;
}

#onOff{
	position:absolute;
	width:80px;
	height:40px;
	appearance:none;
	outline:none;
	border:2px solid black;
	background-color:#1112;
	border-radius:3rem;
	transition:all 400ms ease-in-out;
	
	&:checked{
		background-color:#111;

	& ~ #cirCle{
		background-color:transparent;
		transform:translateX(3rem) rotate(360deg);
		&:before{
			content:"🌜"
		}
	}
}
}

#cirCle{
	position:absolute;
	top:5px;
	left:4px;
	width:40px;
	height:40px;
	background-color:transparent;
	border-radius:99rem;
	text-align:center;
	transition:all 500ms ease-in-out;
	pointer-events:none;	
	&:before{
		position:relative;
		content: "🌞";
		font-size:2.5rem;
		top:-7px;


	}
}


.theme-dark{
	background-color:black;
	color:white;
	text-color:blue;
}






